/* Galerie photos */

/* Responsive */

@media screen and (max-device-width: 1200px) {
    div.photos {
    flex: 22%;
    -ms-flex: 30%;
    max-width: 20%;
    padding: 0 5px;
    }
}

@media screen and (max-device-width: 800px) {
    div.photos {
    flex: 45%;
    -ms-flex: 45%;
    max-width: 45%;
    padding: 0 5px;
    }
}

@media screen and (max-device-width: 600px) {
    div.photos {
    flex: 100%;
    -ms-flex: 100%;
    max-width: 100%;
    }
} 

/* Mise en page */


section {
    margin-top: 150px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 10px;
}

.photos {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    flex: 23%;
    -ms-flex: 23%;
    max-width: 23%;
    padding: 0 5px;
}

.photos img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

.photos img:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(5,5,5,1);
    -maz-box-shadow:  0px 0px 5px 2px rgba(5,5,5,1);
    box-shadow: 0px 0px 5px 2px rgba(5,5,5,1);
    transition: transform 0.45s;
    transform: scale(1.2);
}